@import "src/assets/css/variables";

.search-wrapper {
    .search-form {
        width: 100%;

        ::ng-deep .mat-form-field-flex {
            background-color: white;
            border-radius: 10px;
            padding: 4px 6px;
        }

        ::ng-deep .mat-form-field-underline {
            display: none;
        }

        ::ng-deep .mat-form-field-infix {
            border: none;
        }
        
        .mat-focused .mat-form-field-label {
            color: #4A4A4A !important;
        }

        ::ng-deep .mat-form-field-wrapper {
            width: 100%;
        }

        ::ng-deep .mat-focused .placeholder {
            color: transparent;
        }

        ::ng-deep .mat-form-field-wrapper {
            padding-bottom: 0px !important;
        }

        .mat-input-element {
            caret-color: #4A4A4A !important;
            color: #4A4A4A !important;
        }

        .search-icon {
            color: #A83537;
            font-size: 16px !important;
        }

        .close-icon {
            color: #4a4a4a;
            font-size: 16px !important;
        }

    }

    .hide-search-icon {
        cursor: pointer;
        color: $header-color;
        
        &:hover {
            color: $brand-primary;
        }
    }

    .disabled {
        pointer-events: none;
    }
}